.message{
	transform:scale(0.8);
	transition:1s all;
	color: #3B0EF0;
	background-color:#CCF57A;
	border:5px solid #06CC0D;
	font-size:18px;
	margin-top:1px;
	margin-left:385px;
	margin-right:10;
	width:300px;
	height:50px;
	padding:1px;
	padding-left:70px;
	padding-right:10px;
	padding-top:1px;
	padding-bottom:20px;
	border-radius:30px;
	opacity:0.9;	
	box-shadow:15px 15px 10px #047D0E;
	
	
}
.messager:hover{
	transform:rotate(90deg);
	background-color:D40412;
}
	
.val1{
	color: #C90838;
	background-color:#73F5A9;
	border:5px solid #0FBF06;
	font-size:15px;
	margin:5px;
	margin-left:400px;
	margin-right:20px;
	width:300px;
	height:1;
	padding:5px;
	padding-left:50px;
	padding-right:10px;
}

.val2{
	color: #100A8C;
	background-color:#07F2EE;
	border:5px solid #0C75ED;
	font-size:15px;
	margin:5px;
	margin-left:400px;
	margin-right:20px;
	width:300px;
	height:1;
	padding:5px;
	padding-left:50px;
	padding-right:10px;
}

